body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.time-limit {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.question-numbers {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.number {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%; /* Kare yerine yuvarlak */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box; /* Ekledik */
    text-align: center; /* Ekledik */
}

.number.active {
    background-color: blue;
    color: white;
}

.number.correct {
    background-color: green;
    color: white;
}

.number.incorrect {
    background-color: red;
    color: white;
}

.status {
    display: flex;
    justify-content: center; /* İfadeleri yan yana ortalar */
    margin-bottom: 10px;
}

.status-item {
    display: flex;
    align-items: center;
    margin-right: 10px; /* İfadeler arasında boşluk bırakır */
}

.status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.correct-circle {
    background-color: green;
}

.review-circle {
    background-color: orange;
}

.incorrect-circle {
    background-color: red;
}

.question {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-icon {
    font-size: 20px;
    cursor: pointer;
}

.options {
    margin-bottom: 10px;
}

.option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.option input[type="radio"] {
    margin-right: 10px;
}

.explanation {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

button.check {
    background-color: orange;
}

button.next {
    background-color: green;
}

.result {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #f0f0f0;
}
