/* Genel Sayfa Stili */
body {
    background-color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Zaman Sayacı */
#zaman-sayaci {
    font-weight: normal;
    color: black;
    margin-top: 20px;
}

/* Soru Numaraları */
#soru-navigasyonu {
    margin-top: 30px;
}

#soru-numaralari {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.soru-numarasi {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: black;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
}

.soru-numarasi.aktif {
    background-color: #007bff;
    color: white;
}

/* Durum Göstergeleri */
#durum-gostergeleri {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.durum-kare {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

#dogru {
    background-color: green;
}

#gozden-gecir {
    background-color: yellow;
}

#yanlis {
    background-color: red;
}

/* Soru ve Cevap Alanı */
#soru-alani {
    margin-top: 30px;
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#soru-numarasi {
    font-weight: normal;
    color: black;
    font-size: 18px;
}

#soru-metni {
    margin-top: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

#ses-simgesi {
    margin-top: 15px;
    cursor: pointer;
}

#cevaplar {
    margin-top: 30px;
}

/* Cevap Kutuları */
#cevaplar label {
    display: block;
    margin: 10px 0;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-weight: normal;
    color: black;
    cursor: pointer;
}

#cevaplar input[type="radio"] {
    margin-right: 10px;
}

/* Butonlar */
#butonlar {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.buton {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.mavi {
    background-color: #007bff;
}

.sari {
    background-color: #ffc107;
}

.buton:hover {
    opacity: 0.8;
}

/* Radyo Butonları */
input[type="radio"]:checked + label {
    background-color: #e7f3ff;
}

input[type="radio"]:checked + label:hover {
    background-color: #cce7ff;
}
